nav.navbar.navbar-dark.bg-inverse(style='border-radius: 0')
  a.navbar-brand Social Media
  ul.nav.navbar-nav
    li.nav-item
      a.nav-link(href='#/publish') Publish
    li.nav-item
      a.nav-link(href='#/calendar') Calendar
