nav.navbar.navbar-dark.bg-inverse
  a.navbar-brand Falcon Social
  ul.nav.navbar-nav
    li.nav-item
      a.nav-link(href='#/publish') Publish
    li.nav-item
      a.nav-link(href='#/calendar') Calendar
    //- li.nav-item
    //-   a.nav-link(href='#/channels') Channels
    //- li.nav-item
    //-   a.nav-link(href='#/countries') Countries
    //- li.nav-item
    //-   a.nav-link(href='#/regions') Regions
    //- li.nav-item
    //-   a.nav-link(href='#/cities') Cities
    //- li.nav-item
    //-   a.nav-link(href='#/languages') Languages
