li Content:
  ul
    li Message {{content.message}}
    li
      textarea(ng-model='content.message')
        
    li Id: {{content.id}}
    
    li Network: {{content.network}}
    li
      select(ng-model='content.network')
        option(value='{{content.network}}') {{content.network}}
        option(ng-repeat='network in networks track by $index' value='{{network}}') {{network}}
        
    li PostType: {{content.postType}}
    
    li Media:
      ul
        li FileName: {{content.media.fileName}}
        li FileUrl: {{content.media.fileUrl}}
        li Url: {{content.media.url}}
    img(src='{{content.media.url}}')
    ul
      li FileName: 
        input(type='src' ng-model='content.media.fileName')
      li FileUrl: 
        input(type='src' ng-model='content.media.fileUrl')
      li Url: 
        input(type='src' ng-model='content.media.url')
