doctype html
html(ng-app='FalconSocial' lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title Falcon Social
    link(rel='stylesheet' href='tether/dist/css/tether.min.css')
    link(rel='stylesheet' href='bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='ng-tags-input/ng-tags-input.min.css')
    link(rel='stylesheet' href='angular-upload/src/directives/btnUpload.min.css')
  body
    ng-view
    script(src='angular/angular.min.js')
    script(src='angular-resource/angular-resource.min.js')
    script(src='angular-route/angular-route.min.js')
    script(src='angular-socket-io/socket.min.js')
    script(src='ng-tags-input/ng-tags-input.min.js')
    script(src='lodash/dist/lodash.min.js')
    script(src='angularjs-dropdown-multiselect/dist/angularjs-dropdown-multiselect.min.js')
    script(src='angular-upload/angular-upload.min.js')
    script(src='jquery/dist/jquery.min.js')
    script(src='tether/dist/js/tether.min.js ')
    script(src='bootstrap/dist/js/bootstrap.min.js')
    script(src='socket.io/socket.io.js')
    script(src='javascripts/app.js')
    script(src='javascripts/publish.js')
    script(src='javascripts/items.js')
    script(src='javascripts/item.js')
    script(src='javascripts/scheduler.js')
    script(src='javascripts/content.js')
