doctype html
html(ng-app='FalconSocial' lang='en')
  head
    title Falcon Social
    link(rel='stylesheet' href='tether/dist/css/tether.min.css')
    link(rel='stylesheet' href='bootstrap/dist/css/bootstrap.min.css')
  body
    .layout-fluid
      .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3.col-xl-6.col-xl-offset-3
          items
    script(src='jquery/dist/jquery.min.js')
    script(src='tether/dist/js/tether.min.js')
    script(src='bootstrap/dist/js/bootstrap.min.js')
    script(src='angular/angular.min.js')
    script(src='angular-resource/angular-resource.min.js')
    script(src='javascripts/app.js')
    script(src='javascripts/items.js')
    script(src='javascripts/item.js')
