div#networks(isteven-multi-select input-model='calendar.networks' output-model='calendar.filter.networks' button-label='name' item-label='name' tick-property='ticked' on-item-click='calendar.networkClick(data)')
div#dialog(style='position: absolute; z-index: 10; width: 100%')
div(ui-calendar='calendar.uiConfig.calendar' ng-model='calendar.eventSources' calendar='itemsCalendar')
