div(ng-controller='CalendarCtrl as calendar')
  div#dialog(style='position: absolute; z-index: 10; width: 100%')
  div(ui-calendar='calendar.uiConfig.calendar' ng-model='calendar.eventSources' calendar='itemsCalendar')
