#smi-edit .multiSelect > button {
  width: 100%;
}

#smi-edit .multiSelect .checkboxLayer {
  width: 100%;
  position: default;
}

.post-view {

}

.Twitter a {
  color: #55acee;
}

.Facebook a {
  color: #6d84b4;
}
