ul.list-group
  a.list-group-item(href='#/publish') Create post
  a.list-group-item(href='#/calendar') Calendar
  a.list-group-item(href='#/channels') Channels
  a.list-group-item(href='#/countries') Countries
  a.list-group-item(href='#/regions') Regions
  a.list-group-item(href='#/cities') Cities
  a.list-group-item(href='#/languages') Languages
