.col-md-5.col-md-offset-1
  div(style='background:color: grey; display:flex;justify-content:center;align-items:center;height:600px' ng-hide='publish.fetched')
    i.fa.fa-5x.fa-spinner.fa-spin
  div(smi-edit item='publish.item' channels='publish.channels' networks='publish.networks' geo='publish.geo' ng-show='publish.fetched')
.col-md-5
  div(style='background:color: grey; display:flex;justify-content:center;align-items:center;height:400px' ng-hide='publish.fetched')
    i.fa.fa-5x.fa-spinner.fa-spin
  div(smi-view item='publish.item' ng-show='publish.fetched')
