div(ng-controller='PublishCtrl as publish')
  .col-md-5.col-md-offset-1
    div(smi-edit item='publish.item' channels='publish.channels' networks='publish.networks' geo='publish.geo')
  .col-md-5
    div(smi-view item='publish.item')
